<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

     <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum illo iusto itaque voluptas cumque nemo, laborum, facere nihil maiores officia architecto nesciunt soluta, id qui beatae. Error, aliquid? Expedita, itaque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, voluptatum. Quisquam, cumque. Doloribus, voluptatum. Quisquam, cumque. Doloribus, voluptatum. Quisquam, cumque. Doloribus, voluptatum. Quisquam, cumque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum odit, est qui reiciendis illo eos culpa consequatur ea, perspiciatis repellat fugiat ullam eligendi veritatis quasi? Omnis aliquid beatae aperiam commodi?</p>
        
    </div>
</body>
<%- include('./partials/footer.ejs') %>
</html>